body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, header, footer, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    background-color: #f0ead6;
}

body {
    line-height: 1.6;
    color: #333;
    padding: 1px;
    margin-top: 70px;
    font-family: Georgia;
}

h2{
    font-family: Montserrat;

}
.header {
    background-color: darkgreen;
    padding: 0px 70px;
    height: 70px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    font-family: montserrat;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 100px;
}

.navigation{
    width: 90%;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 0px;
    position: absolute;
    top: 30px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.navigation a:hover {
    scale: 1.3;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

.header img{
    position: absolute;
    top: -20px;
    left: -25px;
}

.hero {
    width: 95%;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
}

.heroimage {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroimage a{
    font-family: Georgia;
    font-size: 20px;
    color: white;
}

.content{
    margin-top: 200px;
}

.name{
    font-size: 150px;
    font-family: MontserratBold;
    text-align: center;
    margin: 30px;
    color: white;
    letter-spacing: 10px;
    font-weight: bolder;
}

.slider{
    width: 30%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.8   );
}

.slider:hover {
    scale: 1.05;
    background-color: darkgreen;
    color: white;
}


.infos a{
    margin: 50px;
    font-size: 30px;
}

.infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 500px auto 0;
}

.divider{
    width: 90%;
    height: 2px;
    background-color: darkgreen;
    margin: 60px auto;
    border-radius: 10px;
    outline: 10px double darkgreen;
}

.slider button{
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: 2px solid white;
}