body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, header, footer, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    background-color: #f0ead6;
}

body {
    line-height: 1.6;
    color: #333;
    padding: 1px;
    margin-top: 70px;
    font-family: Georgia;
    overflow: hidden;
    width: 90%;
    float: right;
}

.sidebar{
    width: 10%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    font-family: montserrat;
    float: left;
    overflow: hidden;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #45a049;
    margin-bottom: 10px;
    margin-top: 130px;
    text-align: center;
}
.sidebar a:hover {
    background-color: rgba(0, 100, 0, 0.2);
}

.sidebar_content {
    margin-left: 220px;
    padding: 20px;
}

.section {
    margin-bottom: 50px;
}

h2{
    font-family: Montserrat;

}
.header {
    background-color: darkgreen;
    padding: 0px 70px;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    font-family: montserrat;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 100px;
}

.navigation{
    width: 90%;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 0px;
    position: absolute;
    top: 50px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.navigation a:hover {
    scale: 1.3;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

.header img{
    position: absolute;
    top: -20px;
    left: -25px;
}

.hero {
    width: 95%;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
}

.heroimage {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroimage a{
    font-family: Georgia;
    font-size: 20px;
    color: white;
}

.content{
    margin-top: 200px;
}

.name{
    font-size: 150px;
    font-family: Montserrat;
    text-align: center;
    margin: 30px;
    color: white;
    letter-spacing: 10px;
}

.slider{
    width: 25%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.slider:hover {
    scale: 1.05;
    background-color: darkgreen;
    color: white;
}


.infos a{
    margin: 50px;
    font-size: 30px;
}

.infos h2{
    text-decoration: underline;
}

.infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 500px auto 0;
}

.divider{
    width: 90%;
    height: 2px;
    background-color: darkgreen;
    margin: 60px auto;
    border-radius: 10px;
    outline: 10px double darkgreen;
}

.title{
    width: 45%;
    height: auto;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
}

.title h1{
    font-family: montserrat;
    text-align: center;
}

.title h2{
    font-family: montserrat;
    text-align: left;
}

.before{
    width: 90%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    color: white;
    border-radius: 20px;
    font-family: montserrat;
}

.before h1{
    padding: 20px;
}

.beforeimage img{
    width: 130%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    outline: 5px solid darkgreen;
}

.beforeimage figcaption{
    text-align: center;
    font-family: georgia;
    color: gray;
}

.beforeimage img:hover{
    scale: 1.02;
    transition: all 0.3s ease-in-out;
}

.paragraph1{
    font-size: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
}

.paragraph1:hover{
    background-color: darkgreen;
    color: white;
    transition: all 0.3s ease-in-out;
}

.words{
    font-size: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px dotted darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    margin-bottom: 30px;
}

.slide_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 82%;
    margin: 0 auto;
}

.slides b{
    text-decoration: underline;
}

.slides{
    height: auto;
    width: 30%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    outline: 5px solid darkgreen;
    transition: all 0.3s ease-in-out;
}

.slides:hover{
    scale: 1.1;
    background-color: darkgreen;
    color: white;
}

.slides a{
    color: inherit;
    text-decoration: none;  
}

.infos_before{
    width: 90%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    padding: 20px;
}

.infos_before ol{
    font-size: 20px;
}

.infos_before h1{
    margin-right: 20px;
    font-family: montserrat;
}

.beforeinfo{
    font-family: georgia;
    width: 40%;
    height: auto;
    margin: 20px auto;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    transition: all 0.3s ease-in-out; 
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.beforesegment{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    gap: 20px;
}

.beforeinfo h2{
    font-family: montserrat;
}

.vertical{
    width: 2px;
    height: 450px;
    background-color: darkgreen;
    margin: auto;
    border-radius: 10px;
    outline: 10px double darkgreen;
    margin-right: 60px;
}

.infos_after{
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    padding: 20px;
    font-size: 20px;
}

.infos_after:hover{
    background-color: darkgreen;
    color: white;
    transition: all 0.3s ease-in-out;
}

.after_seg{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    gap: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    gap: 20px;
}

.after_image img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    outline: 5px solid darkgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.after_image figcaption{
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.after_image img:hover{
    scale: 1.02;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parex_image img{
    width: auto;
    height: auto;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    outline: 5px solid darkgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.parex_image figcaption{
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.parex_image img:hover{
    scale: 1.02;
    transition: all 0.3s ease-in-out;
}

.title2{
    width: 80%;
    height: auto;
    outline: 5px dotted darkgreen;
    border-radius: 20px;
    margin: 60px auto;
    padding: 10px;
    text-align: center;
    font-family: montserrat;
}

.words2{
    font-size: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 50px;
    transition: all 0.3s ease-in-out; 
}

.words2:hover{
    background-color: darkgreen;
    color: white;
    transition: all 0.3s ease-in-out;
}

.mySlides {display: none}

.mySlides img {
    vertical-align: middle;
    border-radius: 20px;
    max-width: 100%;
}

/* Slideshow container */
.slideshow-container {
    width: 50%;
    position: relative;
    margin: 0px auto;
    outline: 5px solid darkgreen;
    border-radius: 20px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 26px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 100, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: darkgreen;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: -40px;  
}

.active, .dot:hover {
    background-color: darkgreen;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.fun{
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    padding: 20px;
    font-size: 20px;
}

.parex{
    font-family: montserrat;
    font-size: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    margin-bottom: 30px;
    color: white
}

.parex_info{
    font-size: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    margin-bottom: 30px;
}

.parex_info:hover{
    background-color: darkgreen;
    color: white;
    transition: all 0.3s ease-in-out;
}   

.controversy {
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px dotted darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    font-family: montserrat;
    text-align: center;
    flex-direction: column;
}

.controversy_info{
    font-size: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    margin-bottom: 30px;
}

.controversy_info:hover{
    background-color: darkgreen;
    color: white;
    transition: all 0.3s ease-in-out;
}

.references {
    width: 80%;
    height: auto;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    padding: 20px;
}

.references h1 {
    text-align: center;
    font-family: montserrat;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.references ol {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    padding: 20px;
}

.slideshow-container2 {
    position: relative;
    width: 60%;
    border-radius: 20px;
    background: eggshell;
    margin: 0 auto;
}
  
.mySlides2 {
    display: none;
    padding: 80px;
    text-align: center;
    outline: 5px solid darkgreen;
    border-radius: 20px;
    margin-top: 40px;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: all 0.3s ease-in-out; 
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 100, 0, 0.8);
    color: white;
    transition: all 0.3s ease-in-out; 
}
  
.dot-container {
    text-align: center;
    padding: 20px;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.mySlides2 p{
    font-size: 20px;
    font-family: georgia;
}

.beforeinfo figcaption{
    text-align: center;
}